<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Deck Builder</title>
    <!--Tab Image-->
    <link rel="icon" href="../assets/img/Pokeball.PNG"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--link to icon file-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--//link to jQuery-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!--//potential link to js needed for CSS Framework-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!--//option #1 for link to our client side JS file (see bottom of body for option #2-->
    <script src="/assets/js/queries.js"></script>
    <script src="/assets/js/materialize.js"></script>

    <title>Deck Builder</title>

</head>

<body>

{{{body}}}
<footer>

</footer>
<!--//option #2 for link to our client side JS file-->
</body>

</html>