<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Deck Builder</title>
    <!--Tab Image-->
    <link rel="icon" href="./assets/img/Pokeball.PNG"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--link to public css-->

    <link rel="stylesheet" href="./assets/css/style.css">
    <!--//link to jQuery-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!--//potential link to js needed for CSS Framework-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!--//option #1 for link to our client side JS file (see bottom of body for option #2-->

    <script src="/assets/js/queries.js"></script>
    <script src="/assets/js/deck.js"></script>
    <title>Deck Builder</title>

</head>
<!--//option #2 for link to our client side JS file-->
<body>
{{{body}}}

<!----------- Footer ------------>
<footer class="footer-section fixed-bottom footer-links">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-column text-left">
                <a href= "/"> <p>Home</p> </a>
                <a href= "/cardSearch"> <p>Card Search</p> </a>
                <a href= "/deckList"> <p>Deck List</p> </a>
            </div>

            <div class="col-sm-4 footer-column text-center">
                <br>
                <img src ="./assets/img/Pokeball.PNG" width="40" height="40" alt="pokeball">
                TCGMgr
            </div>


            <div class="col-sm-4 footer-column text-right">
                <a href="/"> <p>Contact Us</p> </a>
                <a href="https://github.com/tcg-organizer/tcg-deck-builder"> <p>Github Repo</p></a>
                <p> Copyright TCG Team </p>
            </div>

        </div>
    </div>
</footer>


</body>
</html>