
<div id="lostPage" class="container">
    <br>
    <div class="row">
        <div class ="col-md-12">
            <img class="left-block" src="./assets/img/numberFour.png"/>
            <img class="center-block" style="width:50% !important" src="./assets/img/pokeB.png"/>
            <img class="right-block" src="./assets/img/numberFour.png"/>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <br>
            <h1 id ="notFound">PAGE NOT FOUND.</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <h3 id="text404">YOU CAN STAY HERE AND WATCH HUMAN EVOLUTION OR ... YOU CAN HEAD BACK <a href="/">HOME</a></h3>
                <video width="320" height="240" controls>
                    <source src="./assets/video/HumanEvolutionTimelapse-CarlSagan.mp4" type="video/mp4"/>
                    <source src="./assets/video/HumanEvolutionTimelapse-CarlSagan.ogg" type="video/ogg"/>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
