<!--//this will handle the displaying of card data when a search is done for a card-->

<!--//user will search for a pokemon card-->

<!--//can search by pokemon name (alphanumeric string)-->

<!--//MissingNo (the thing from pokemon) will be displayed when no results are returned form the user search-->

<!--//all cards related to the search will be displayed-->

<!--//potential implementation of infinite scrolling (real iffy on this one)-->


<nav class="navbar navbar-expand-lg bg-light navbar-light justify-content-between navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="./assets/img/Pokeball.PNG" width="20" height="20" alt="pokeball">
        TCGMgr
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/">Home </a>
            <a class="nav-item nav-link active" href="/cardSearch">Card Search <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/deckList">Deck List</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron text-center">
        <h1>
            Pokemon Card Search
        </h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
            <span class="input-group-btn">
                <button id="submit" class="btn btn-default" type="button">Go!</button>
            </span>
                    <input id="search" type="text" class="form-control" placeholder="Search for...">
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="cardHome">

    </div>

    <!--Bootstrap modal code-->
    <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content" id="specificCard">

                <div class="modal-header">
                    <h5 class="modal-title" id="cardModalLabel"><span id="pokemonName"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6 col-center">
                            <div id="cardData">
                                <img src="" id="pokemonImage" class="img-responsive"> <br>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <h6 id="cardType"></h6>
                            <div id="deckName">
                                <form bg-primary>

                                    <!--Place holder code for adding a quantity of cards to the table-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="exampleFormControlSelect1">Quantity</label>-->
                                        <!--<select class="form-control custom-select" id="exampleFormControlSelect1">-->
                                            <!--<option>1</option>-->
                                            <!--<option>2</option>-->
                                            <!--<option>3</option>-->
                                            <!--<option>4</option>-->
                                            <!--<option>5</option>-->
                                            <!--<option>6</option>-->
                                            <!--<option>7</option>-->
                                            <!--<option>8</option>-->
                                            <!--<option>9</option>-->
                                            <!--<option>10</option>-->
                                            <!--<option>11</option>-->
                                            <!--<option>12</option>-->
                                            <!--<option>13</option>-->
                                            <!--<option>14</option>-->
                                            <!--<option>15</option>-->
                                            <!--<option>16</option>-->
                                            <!--<option>17</option>-->
                                            <!--<option>18</option>-->
                                            <!--<option>19</option>-->
                                            <!--<option>20</option>-->
                                        <!--</select>-->
                                        <!--<small id="quantityHelpBlock" class="form-text text-muted">-->
                                            <!--Choose the quantity of cards you would like to add to the deck-->
                                        <!--</small>-->
                                    <!--</div>-->

                                    <div class="form-group">
                                        <label for="deckNames">Deck Name</label>

                                        <select class="form-control custom-select" id="deckNames">

                                        </select>

                                        <small class="text-muted">
                                            Choose the deck that will receive the card(s)
                                        </small>
                                    </div>

                                    <div id="addNewDeck" class="form-group">
                                        <input id="newDeckText" type="text">
                                        <button id="submitNewDeck">Add Deck</button>
                                    </div>
                                    <!--<small id="newDeckHelpBlock" class="form-text text-muted">-->
                                        <!--Choose the deck that will receive the card(s)-->
                                    <!--</small>-->
                                    <div class="alert alert-success hidden" role="alert">
                                        <strong>Well done!</strong> You successfully added a new card to your deck.
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary addCard">Add card to deck</button>

                </div>


            </div>
        </div>
    </div>

</div>

<script src="/assets/js/queries.js"></script>