<!--// this will display how many decks the user has and the deck names-->

<!--//then the user will select a deck and then the cards from that deck will be displayed on the same page-->

<!--//card back will be displayed at "top of page" representing each deck with the name of the deck below it-->

<!--//user can click on a deck and then that deck's data will be displayed in a div below the deck list-->

<!--//remove cards from deck-->

<!--//add new quantity to a card (max out at 4) with the exception of energy cards (max of 60)-->


<nav class="navbar navbar-expand-lg bg-light navbar-light justify-content-between navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="./assets/img/Pokeball.PNG" width="20" height="20" alt="pokeball">
        TCGMgr
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/cardSearch">Card Search</a>
            <a class="nav-item nav-link active" href="/deckList">Deck List<span class="sr-only">(current)</span> </a>
        </div>

    </div>
</nav>
<div class="container upTop">
    <div class="jumbotron text-center">
        <!--<h1>Username's Decklists</h1>-->
        <div class="form-group">
            <label for="deckList">Deck Name</label>

            <select class="form-control custom-select" id="deckList">
                <option>Choose Your Deck</option>
            </select>
            <button id="deleteDeckButton">Delete Deck</button>

            <small id="viewDeckHelpBlock" class="form-text text-muted">
                Choose the deck you wish to view
            </small>
        </div>
        <button class="btn btn primary delete-btn"></button>
    </div>
    <div id="deckListRow" class="row">
    </div>
</div>

<!--Bootstrap modal code-->
<!--<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->

        <!--<div class="modal-content" id="specificCard">-->

            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="cardModalLabel"><span id="pokemonName"></span></h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="row">-->
                    <!--<div class="col-xl-6 col-center">-->
                        <!--<div id="cardData">-->
                            <!--<img src="" id="pokemonImage" class="img-responsive"> <br>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xl-6">-->
                        <!--<h6 id="cardType"></h6>-->
                        <!--<div id="deckName">-->
                            <!--<form bg-primary>-->


                                <!--<div id="addNewDeck" class="form-group">-->
                                    <!--<input id="newDeckText" type="text">-->
                                    <!--<button id="submitNewDeck">Add Deck</button>-->
                                <!--</div>-->
                                <!--<small id="newDeckHelpBlock" class="form-text text-muted">-->
                                    <!--Choose the deck that will receive the card(s)-->
                                <!--</small>-->
                                <!--<div class="alert alert-success hidden" role="alert">-->
                                    <!--<strong>Well done!</strong> You successfully added a new card to your deck.-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->

                <!--<button type="button" class="btn btn-primary addCard">Add card to deck</button>-->

            <!--</div>-->


        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<script src="/assets/js/deck.js"></script>