
<nav class="extended">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">TCGMgr</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Search Cards</a></li>
            <li><a href="#">View Decklists</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Search Cards</a></li>
            <li><a href="#">View Decklists</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
<div class="container">

{{pokemon}}

</div>