
<nav class="navbar navbar-expand-lg bg-light navbar-light justify-content-between navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="./assets/img/Pokeball.PNG" width="20" height="20" alt="pokeball">
        TCGMgr
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/cardSearch">Card Search</a>
            <a class="nav-item nav-link" href="/deckList">Deck List</a>
        </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit">Search</button>
    </form>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <h1>POKEMON PREMADE DECK CAROUSEL</h1>
    </div>
</div>

{{pokemon}}

</div>

<footer class="footer">
    Dummy text (Footer)
</footer>

