<nav class="navbar navbar-expand-lg bg-light navbar-light justify-content-between navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="./assets/img/Pokeball.PNG" width="20" height="20" alt="pokeball">
        TCGMgr
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/cardSearch">Card Search</a>
            <a class="nav-item nav-link" href="/deckList">Deck List</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Pokemon TCG Card Organizer</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <img src="./assets/img/cards-hand.png" class="img-responsive" alt="hand of cards">
        </div>
    </div>

</div>
<div class = "upTop">
</div>


