<nav class="navbar navbar-expand-lg bg-light navbar-light justify-content-between navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="./assets/img/Pokeball.PNG" width="20" height="20" alt="pokeball">
        TCGMgr
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/cardSearch">Card Search</a>
            <a class="nav-item nav-link" href="/deckList">Deck List</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Pokemon TCG Card Organizer</h1>
    </div>
    <div class="row">
        <form>

            <label for="email" class="hidden-label">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">

            <label for="password" class="hidden-label">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">

            <select>
                <option>Select one...</option>
                <option>My Decks</option>
                <option>My Profile</option>
                <option>Inbox</option>
                <option>Account Settings</option>
            </select>

            <input type="submit" value="Sign In">

            <label>
                <input type="checkbox" name="remember" checked="checked" value="yes">
                <span class="checkbox-text">Stay signed in</span>
            </label>

        </form>
    </div>
    <div class="row">
        carousel goes here
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center">
            <img class="center-block" src="assets/img/giphy.gif"/>
        </div>
    </div>
</div>
<div>

    {{pokemon}}

</div>


