

body {
    margin: 0 auto;
    max-width: 960px;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 50%;
    text-align: center;
    color:gray;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: red;
    margin-bottom: 1%;
    text-align: center;
    font-size: 550%;
}


.container {
    text-align: center;
}

.feature-msg {
    margin: auto 0;
}


.number {
    background: url("../img/numberFour.png") no-repeat center center fixed;
}


img {
    display:inline-block;
    width: 15% !important;
    margin: 15px 0;
}

img.center-block {
    background: no-repeat center center fixed;
    display: inline-block;
}

a {
    color:gray;
    cursor: auto;
    text-decoration: underline;
}


/* mouse over link */
a:hover {
    color: red;
    cursor: auto;
    text-decoration: underline;
}


