html {
    background: url("../img/Pokeball.PNG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*body {*/
    /*background: #d4d4d4;*/
    /*height: auto;*/
    /*width: 100%;*/
    /*position: relative;*/
/*}*/

img {
    margin-top: 2px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.card-description {
    margin-top : 25px;
}


.footer-section {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    background-color: #3c3d41;
    padding: 5px;
    color: white;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 6px;
    z-index: 1;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .footer-section {
        position: static;
        left: 0px;
        bottom: 0px;
    }

}

/*helper classes for styling*/
.grey {
    background-color: #9fb6cd;
}

.card-margin {
    margin-bottom: 25px;
}

.center {
    diplay: block;
    margin: auto;
}
