html {
    background: url("../img/Pokeball.PNG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    margin-top: 2px;
}

.card-description {
    margin-top : 25px;
}

.jumbotron {
    color: #fff;
    background: url("../img/jumboJr 2.png") no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}


.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 50px;
}
/*helper classes for styling*/
.grey {
    background-color: #9fb6cd;
}

.card-margin {
    margin-bottom: 25px;
}

.center {
    display: block;
    margin: auto;
}


