#addNewDeck {
    display: none;
}

#newDeckHelpBlock {
    display: none;
}

.card-description {
    margin-top : 25px;
}

.number {
    background: url("../img/numberFour.png") no-repeat center center fixed;
}

.left-block .right-block{
    display:inline-block;
    width: 15% !important;
    margin: 15px 0;
}

#lostPage.container {
    text-align: center;
    max-width: 760px;
}

/*padding under cards on cardsSearch page*/
#cardHome {
    margin-bottom: 150px;
}

/*padding under cards in deckList page*/
#deckListRow {
    margin-bottom: 150px;
}

.center-block {
    background: no-repeat center center fixed;
    display: inline-block;
}

a {
    color:gray;
    cursor: auto;
    text-decoration: none;
}

.login {
    width: 50%;
    height: 50%;
}

.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 50px;
}

/*helper classes for styling*/
.grey {
    background-color: #9fb6cd;
}

.card-margin {
    margin-bottom: 25px;
}

.center {
    display: block;
    margin: auto;
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

.checkbox-text {
    font-size: 85%;
    color: #777;
}

.select {
    color: gray;
}

.footer-section {
    background-color: #3c3d41;
    padding: 5px;
    color: white;
    z-index: 1;

}

#pokemonImage {
    width: 250px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .footer-section {
        position: static;
        left: 0px;
        bottom: 0px;
    }

}

.footer-links a {
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: none;
    color: lightgrey;
}

/*helper classes for styling*/
.grey {
    background-color: #9fb6cd;
}
/*add margin above card divs*/
.card-margin {
    margin-bottom: 25px;
}
/*horizontal center class*/
.center {
    display: block;
    margin: auto;
}

/*vertical and horizontally center class*/
.col-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*positioning for the delete button*/
.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.fill {
    width: auto;
}