<!--bootstrap card partial-->
<div class="col-xl-4 col-md-6 col-xs-12 card-margin">
    <div class="card grey center" style="width: 20rem;">
        <img class="card-img-top" src="{{image}}" alt="Card image">
        <div class="card-body">
            <h4>Card Id: {{id}}</h4>
            <a href="#" class="btn btn-primary" data-id="{{url}}" id="cardButton" data-toggle="modal" data-target="#cardModal">View Card Data</a>
        </div>
    </div>
</div>