<!--//displays the data for each card-->


<!--//card id, pokemon name, etc/-->


<!--//card id, pokemon name, etc/-->


<!--//card id, pokemon name, etc/-->

<li>
    {{name}}
    {{id}}
    <img src={{url}}>
</li>

