<div class="modal-header">
    <h5 class="modal-title" id="cardModalLabel">THIS WILL HOLD THE CARD NAME</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div id="cardData">
        THIS WILL DISPLAY CARD DATA
    </div>
    <div id="unitNumber">
        THIS WILL CONTAIN THE NUMBER OF CARDS TO ADD
    </div>
    <div id="deckName">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>